  
- id: '12345'
  alias: MVHR Speed Select Publish
  triggers:
  - entity_id: sensor.mvhr_speed_select_state
    trigger: state
  conditions:
    # Only trigger if changed by user, not by automation
    - condition: template
      value_template: "{{ trigger.from_state.context.user_id != none }}"
  actions:
  - data_template:
      topic: "{% if states('sensor.mvhr_speed_select_state') == '0' %}\n  comfoair/commands/ventilation_level_0\n{%
        elif states('sensor.mvhr_speed_select_state') == '1' %}\n  comfoair/commands/ventilation_level_1\n{%
        elif states('sensor.mvhr_speed_select_state') == '2' %}\n  comfoair/commands/ventilation_level_2\n{%
        elif states('sensor.mvhr_speed_select_state') == '3' %}\n  comfoair/commands/ventilation_level_3\n{%
        else %}\n  comfoair/commands/ventilation_level_2\n{% endif %}\n"
      payload: 'on'
    action: mqtt.publish
- id: '12346'
  alias: MVHR Speed Select Update
  triggers:
  - entity_id: sensor.mvhr_supply_fan_user_speed
    trigger: state
  actions:
  - data_template:
      entity_id: input_select.mvhr_ventilation_speed
      option: "{% if states('sensor.mvhr_supply_fan_user_speed') == \"0\" %}\n  0\n{%
        elif states('sensor.mvhr_supply_fan_user_speed') == \"1\" %}\n  1\n{% elif
        states('sensor.mvhr_supply_fan_user_speed') == \"2\" %}\n  2\n{% elif states('sensor.mvhr_supply_fan_user_speed')
        == \"3\" %}\n  3\n{% else %}\n  1\n{% endif %}\n"
    action: input_select.select_option
 
- id: '12347'
  alias: MVHR Bypass Toggle Publish
  trigger:
    platform: state
    entity_id: sensor.mvhr_bypass_select_state
  action:
    service: mqtt.publish
    data_template:
      topic: "{% if states('sensor.mvhr_bypass_select_state') == 'on' %}\n  comfoair/commands/bypass_activate_1h\n{%
        elif states('sensor.mvhr_bypass_select_state') == 'off' %}\n  comfoair/commands/bypass_deactivate_1h\n{%
        else %}\n  comfoair/commands/bypass_deactivate_1h\n{% endif %}\n"
      payload: 'on'
- id: '12348'
  alias: MVHR Bypass Toggle Update
  trigger:
    platform: state
    entity_id: sensor.mvhr_bypass_open_factor
  action:
  - choose:
    - conditions:
      - condition: numeric_state
        entity_id: sensor.mvhr_bypass_open_factor
        above: 84
      sequence:
      - service: input_boolean.turn_on
        entity_id: input_boolean.mvhr_bypass_on_off
    - conditions:
      - condition: numeric_state
        entity_id: sensor.mvhr_bypass_open_factor
        below: 85
      sequence:
      - service: input_boolean.turn_off
        entity_id: input_boolean.mvhr_bypass_on_off