- id: '12345'
# Automation #1 - Send commands (only when user changes AND different from status)
- alias: MVHR Speed Select Publish
  triggers:
  - entity_id: sensor.mvhr_speed_select_state
    trigger: state
  conditions:
    - condition: template
      value_template: "{{ trigger.to_state.state != states('sensor.mvhr_supply_fan_user_speed') }}"
  actions:
  - data_template:
      topic: "comfoair/commands/ventilation_level_{{ states('sensor.mvhr_speed_select_state') }}"
      payload: 'on'
    action: mqtt.publish

# Automation #2 - Update display (keep as-is)
- id: '12346'
  alias: MVHR Speed Select Update
  triggers:
  - entity_id: sensor.mvhr_supply_fan_user_speed
    trigger: state
  actions:
  - data_template:
      entity_id: input_select.mvhr_ventilation_speed
      option: "{{ states('sensor.mvhr_supply_fan_user_speed') }}"
    action: input_select.select_option

- id: "12347"
  alias: "MVHR Bypass Toggle Publish"
  trigger:
    platform: state
    entity_id: sensor.mvhr_bypass_select_state
  action:
    service: mqtt.publish
    data_template:
      topic: >
        {% if states('sensor.mvhr_bypass_select_state') == 'on' %}
          comfoair/commands/bypass_activate_1h
        {% elif states('sensor.mvhr_bypass_select_state') == 'off' %}
          comfoair/commands/bypass_deactivate_1h
        {% else %}
          comfoair/commands/bypass_deactivate_1h
        {% endif %}
      payload: "on"


- id: "12348"
  alias: "MVHR Bypass Toggle Update"
  trigger:
    platform: state
    entity_id: sensor.mvhr_bypass_open_factor
  action:
    - choose:
      - conditions:
        - condition: numeric_state
          entity_id: sensor.mvhr_bypass_open_factor
          above: 84
        sequence:
          - service: input_boolean.turn_on
            entity_id: input_boolean.mvhr_bypass_on_off
      - conditions:
        - condition: numeric_state
          entity_id: sensor.mvhr_bypass_open_factor
          below: 85
        sequence:
          - service: input_boolean.turn_off
            entity_id: input_boolean.mvhr_bypass_on_off

